<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<nav class="navbar">
		<div class="navbar-header">
	      <a class="navbar-brand" href="#">BOOTCAMP</a>
	   </div>
		<ul class="nav nav-tabs">
			<!-- <li class="navbar"><a href="{% url 'feeds' id %}">Feeds</a></li> -->
			<li class="navbar"><a href="{% url 'articles' id %}">Article</a></li>
			<li class="navbar"><a href="{% url 'network' id %}">Network</a></li>
			<li class="navbar"><a href="{% url 'qa' id %}">Question</a></li>
			<li class="navbar"><a href="{% url 'logout' %}">Logout {{ id }}</a></li>
			<!-- <li class="dropdown navbar">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	               Profile<b class="caret"></b>
	            </a>
	            <ul class="dropdown-menu">
	               <li><a href="#">Edit</a></li>
	               <li><a href="{% url 'logout' %}">Logout</a></li>
	           </ul>
       		</li> -->
		</ul>
	</nav>
	<br>
	<br>
</div>
</body>
</html>